<div class="modal-content">
	<div class="modal-heading">
		<div class="modal-title">
			Create New List
		</div>
	</div>
	<div class="modal-body">
		<input type="text" class="form-control input-padding" placeholder="List Name" ng-model="listName">
		<textarea class="form-control" placeholder="List Description" ng-model="listDescription"></textarea>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="close()">Close</button>
		<button class="btn btn-default" ng-click="createList()">Create</button>
	</div>
</div>