.list-th{
	border: solid gray 2px !important;
	border-bottom-color: green !important;
}

.list-td{
	background-color: #061829;
	color: white;
	border: solid green 2px !important;
}

.list-table{
	margin-top: 50px;
}
