body {
	background-color: #2b3e50;
}

.home-title {
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 60px;
    margin-top: 40px;
}

.home-logo-container {
	text-align: center;
}

#home-logo {
	color: green;
	font-size: 200px;
}

.home-input {
	text-align: center;
}

.home-input-field-custom {
	margin-bottom: 10px;
}

.home-align-right-custom {
	text-align: right;
}

h1
{
	color: white;
	text-align: center;
}

h3{
	color: white;
}

.side-bar-hr {
	border-color: green;
}

a, a:hover, a:link, a:visited, a:active
{
	text-decoration: none;
	color: white;
}
